@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 68px;
}

/* banner */
.banner {
  position: relative;
  background: linear-gradient(hsla(0, 0%, 40%, 0.5), hsl(var(--background)));
}

.social-icon a {
  width: 48px;
  height: 48px;
  /* background: ; */
  display: inline-flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 2px solid;
  @apply border-purple;
}
.social-icon a::before {
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  /* background-color: hsl(var(--foreground)); */
  @apply bg-purple;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a svg {
  height: 70%;
  width: 70%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover svg {
  /* filter: brightness(100%) saturate(102%) invert(100%) sepia(0%)
    saturate(102.04%) hue-rotate(-346deg) brightness(105%) contrast(114%); */
  fill: white;
}

/* .dark .social-icon a:hover svg {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
} */

/* skill */
.skill {
  display: grid;
  grid-template-columns: repeat(auto-fit, 65px);
  margin: 0 auto;
  justify-content: center;
  align-content: flex-start;
  list-style: none;
  overflow: auto;
}

/* about */
.tab-button::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  width: 0%;
  height: 0%;
  z-index: 9;
  transition: 0.3s ease-in-out;
}

.tab-button[data-state="active"]::after {
  width: 100%;
  height: 100%;
}

.timeline::after {
  content: "";
  position: absolute;
  border-radius: 20px;
  width: 6px;
  top: 0px;
  margin-left: 17px;
  @apply bg-purple-100;
}

@media (min-width: 768px) {
  .triangle-left::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 17px solid hsl(var(--background));
    border-bottom: 17px solid transparent;
    border-top: 17px solid transparent;
    position: absolute;
    top: -17px;
    right: 3.5px;
  }

  .triangle-right::after {
    content: "";
    width: 0;
    height: 0;
    border-right: 17px solid hsl(var(--background));
    border-bottom: 17px solid transparent;
    border-top: 17px solid transparent;
    position: absolute;
    top: -17px;
    left: 3.5px;
  }
}

@media (max-width: 768px) {
  .triangle::after {
    content: "";
    width: 0;
    height: 0;
    border-right: 17px solid hsl(var(--background));
    border-bottom: 17px solid transparent;
    border-top: 17px solid transparent;
    position: absolute;
    top: -17px;
    left: 3.5px;
  }
}

/* .circle::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 9999;
} */

/* Projects */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  border-radius: 20px;
  background-color: hsl(var(--muted-foreground) / 0.5);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded bg-purple;
}

/* Footer */
.shadow-top {
  --tw-shadow: 0 -1px 3px 0 rgb(0 0 0 / 0.1), 0 -1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 -1px 3px 0 var(--tw-shadow-color),
    0 -1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* Components */
.toast-duration::after {
  content: "";
  position: absolute;
  height: 4px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  @apply animate-moveline-left;
  animation-delay: 400ms;
}

.toast-duration:hover::after {
  animation-play-state: paused;
}

@keyframes shrink {
  to {
    width: 0;
  }
}
