@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 72px;
}

/* banner */
.banner {
  position: relative;
  background: linear-gradient(hsla(0, 0%, 40%, 0.5), hsl(var(--background)));
}

/* skill */
.skill {
  display: grid;
  grid-template-columns: repeat(auto-fit, 65px);
  margin: 0 auto;
  justify-content: center;
  align-content: flex-start;
  list-style: none;
  overflow: auto;
}

/* about */
.timeline::after {
  content: "";
  position: absolute;
  border-radius: 20px;
  width: 6px;
  background: hsl(var(--foreground));
  top: 0px;
}

/* .circle::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 9999;
} */
